body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.layout__top {
  border-bottom: 1px solid black;
}

.layout__bottom {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.layout__left {
  flex: 1;
  border-right: 1px solid black;
}

.layout__right {
  width: 560px;
  height: 100%;
}
